@import url(http://fonts.googleapis.com/css?family=Catamaran:400);


body {
    background-color: #fdfdfd;
    font-family: 'Catamaran', sans-serif;
}

h1{
    margin-left:10%;
}

#container{
    position:relative;
    top:20px;
    height:100%;
    min-height: 500px;
    width:100%;
    min-width: 300px;
}



.module ul{
    list-style-type:none;
    margin:0;
    display: inline;
}

#section_details{
    margin: 10%;
}

.subtitle{
    margin-bottom:50px;
    font-size: 25px;
}

li{
    list-style-type:none;
}


/*Main buttons*/
.tab a{
    display:block;
    float:right;
    cursor:pointer;
    width: 120px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-right: 5%;
    font-size: 12px;
    /*margin-bottom: 10px;*/
}


/*Table*/
.rwd-table{
    width:97%;
    height:100%;
    margin:50px auto 30px auto;
    margin-right: auto;
    text-align: left;
    min-width: 300px;

}

.rwd-table {
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 14px 'Catamaran', sans-serif;
}
.rwd-table thead th {
    width: 14%;
    background-color: transparent;
    border-bottom: solid 1px #4fa0e9;
    font-weight: normal;
    color: #4fa0e9;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;

}
.rwd-table tbody td {
    border: solid 1px #ccc;
    color: black;
    padding: 10px;
    border-left: none;
    border-right: none;
}


.listContainer{
    padding: 1px;
}

.form-control{
  float:right;
  margin-right:15px;
  margin-bottom: 25px;
  width: 220px

}


@media (max-width: 670px) {

    .rwd-table, .rwd-table thead, .rwd-table thead tr, .rwd-table thead th, .rwd-table tbody, .rwd-table tbody tr, .rwd-table tbody td {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        //display: inline-block;
        //width:97%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .rwd-table {
        border-color: #ccc;
    }

    .rwd-table thead th {
        border:none;
    }
    .rwd-table thead {
        border-bottom: 1px solid #4fa0e9;
        height: 0px;

    }
    .rwd-table tbody tr {
        border-bottom: solid 1px #BBDFDF;
    }
    .rwd-table tbody td {
        border-top: none;
        border-color: #EEF7F7;
    }
    .rwd-table tbody tr:last-child {
        border-bottom: none;
    }

}


