<div class="listContener">
    <nav class="float-form">
        <ul class="tabs">
            <!--Menu:-->
            <li class="tab">
                <a class="menuList" href="#/list"></a>
            </li>
        </ul>
    </nav>
    <table class="rwd-table">
        <thead>
        <tr>
            <th>Pilot</th>
            <th>Country</th>
            <th>Team</th>
            <th>Current_standing</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pilot in pilots | orderBy: ['points','driver']  track by $index" pilot-Element pilot="pilot" on-driver-click="showTeamDetails(idTeam)" class="listElements"></tr>
        </tbody>
    </table>

</div>